.b
{
    FONT-WEIGHT: 800
}
.c
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}

ul{text-align:left;margin:1em 10;padding:0} 


body 
{ 
margin: 0px; padding:0px;
font-family:Verdana;
}


.tablehead
{
    FONT-SIZE: 12px;
    BACKGROUND-COLOR: #f1f1f1;
    COLOR: #00429b;
    FONT-FAMILY: Verdana,Arial;
    FONT-WEIGHT: bold;
}

.tablecell
{
    FONT-SIZE: 12px;
    BACKGROUND-COLOR: #ffffff;
    COLOR: #6a6a6a;
    FONT-FAMILY: Verdana,Arial;
}

.tablecell3
{
    FONT-SIZE: 12px;
    BACKGROUND-COLOR: #dadada;
    COLOR: #2a2a2a;
    FONT-FAMILY: Arial, Verdana,Arial
}
.tablecell3b
{
    FONT-SIZE: 12px;
    BACKGROUND-COLOR: #eaeaea;
    COLOR: #2a2a2a;
    FONT-FAMILY: Arial, Verdana,Arial
}


.tableheadsmall
{
    FONT-SIZE: 11px;
    BACKGROUND-COLOR: #f1f1f1;
    COLOR: #00429b;
    FONT-FAMILY: Verdana,Arial;
}

.tablecellsmall
{
    FONT-SIZE: 11px;
    BACKGROUND-COLOR: #ffffff;
    COLOR: #6a6a6a;
    FONT-FAMILY: Verdana,Arial;
}


.ddl
{
    border:1px solid #7a7a7a;
    border-radius:6px;
    padding:3px;
    height:26px;
    -webkit-appearance: none; 
    background-image:url('Images/arrowdown2.png');
    background-position: right 8px center;
    background-repeat:no-repeat;
    text-indent: 0.01px;/*In Firefox*/
    text-overflow: '';/*In Firefox*/
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size:12px;
}


.list1 { 
  margin-top:5px; 
  min-width:150px;
  overflow:auto;
  margin-top:1px;
  border:0px solid;
}

.chks
{
    height:25px;
    //width:165px;
    width:100%;
    //background-color:#48baff;
    font-family:Verdana;
    font-size:19px;
    color:#364daf;
    padding-left:3px;
    padding-bottom:6px;
    padding-top:5px;
    
}
.chks input{border:none; width:20px;height:17px; margin-top:3px; margin-bottom:6px; margin-left:-5px; vertical-align:top; }



.chks2
{
    height:25px;
    width:165px;
    font-family:Verdana;
    font-size:20px;
    color:#364daf;
    padding-left:5px;
    padding-bottom:6px;
    padding-top:5px;
    
}
.chks2 input{border:none; width:20px;height:17px; margin-top:-1px; margin-bottom:6px; margin-left:-5px; vertical-align:top; }


.input
{
    BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #666666 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #666666 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: #666666 1px solid;
    FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif
}

.input1
{
    BORDER-RIGHT: #666666 0px solid;
    BORDER-TOP: #666666 0px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #666666 0px solid;
    COLOR: #333333;
    BORDER-BOTTOM: #666666 0px solid;
    FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif
}

.input2
{
    BORDER-RIGHT: #666666 0px solid;
    BORDER-TOP: #666666 0px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #666666 0px solid;
    COLOR: #364daf;
    BORDER-BOTTOM: #666666 0px solid;
    FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif
}

.input3
{
    BORDER-RIGHT: #666666 0px solid;
    BORDER-TOP: #666666 0px solid;
    FONT-SIZE: 13px;
    BORDER-LEFT: #666666 0px solid;
    COLOR: #364daf;
    BORDER-BOTTOM: #666666 0px solid;
    padding-top:5px;
    padding-left:5px;
    FONT-FAMILY: Verdana;
}
.input3 label {
    position: relative;
    top: -2px;
}


.input4
{
    BORDER-RIGHT: #666666 0px solid;
    BORDER-TOP: #666666 0px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #666666 0px solid;
    COLOR: #364daf;
    BORDER-BOTTOM: #666666 0px solid;
    padding-top:5px;
    padding-left:5px;
    FONT-FAMILY: Verdana;
}
.input4 label {
    position: relative;
    top: -2px;
}


.radios .Redbutton
{
    color:#cfcfcf;
     font-size:16px;
}
.radios .Redbutton input{border:none; width:16px;height:16px; margin-top:7px; margin-left:-5px; vertical-align:bottom;}






.wrapper { 
  border : 0px solid #000; 
  overflow:hidden;
  margin-top:10px;
}

.wrapper div {
   min-height: 30px;
   padding: 10px;
}

/*
#one {
  background-color: gray;
  float:left; 
  margin-right:20px;
  width:140px;
  border-right:2px solid #000;
}
#two { 
  background-color: white;
  overflow:hidden;
  margin:10px;
  border:2px dashed #ccc;
  min-height:170px;
}
*/

#dashed1 { 
  min-width:275px;
  background-color: white;
  float:left;
  margin:1px;
  border:2px dashed #ccc;
  min-height:110px;
  font-family:Verdana;
  color:#364daf;
  font-size:13px;
   padding-top:3px;
}

#dashed1f { 
  width:97%;
  overflow:hidden;
  background-color: white;
  margin:1px;
  margin-right:4px;
  border:2px dashed #ccc;
  min-height:90px;
  font-family:Verdana;
  color:#364daf;
  font-size:13px;
  padding:5px;
}

#dashed1g { 
  width:97%;
  overflow:hidden;
  background-color: white;
  margin:1px;
  margin-right:4px;
  border:2px dashed #ccc;
  min-height:120px;
  font-family:Verdana;
  color:#364daf;
  font-size:13px;
  padding:5px;
}

#dashed1b { 
  width:97%;
  background-color: white;
  overflow:hidden;
  margin:1px;
  margin-right:4px;
  border:2px dashed #ccc;
  min-height:60px;
  padding:5px;
  font-family:Verdana;
  color:#364daf;
  font-size:13px;
}

#dashed1c { 
  width:97%;
  background-color: white;
  overflow:hidden;
  margin:1px;
  margin-right:4px;
  border:2px dashed #ccc;
  min-height:90px;
  padding:5px;
  font-family:Verdana;
  color:#364daf;
  font-size:13px;
}

#dashed2 { 
  width:97%;
  background-color: white;
  overflow:hidden;
  margin:1px;
  margin-right:4px;
  border:2px dashed #ccc;
  min-height:120px;
  padding:5px;
  font-family:Verdana;
  color:#364daf;
  font-size:13px;
}

#dashed2b { 
  width:97%;
  background-color: white;
  overflow:hidden;
  margin:1px;
  margin-right:4px;
  border:2px dashed #ccc;
  min-height:60px;
  padding:5px;
  font-family:Verdana;
  color:#364daf;
  font-size:13px;
}

#dashed2c { 
  width:97%;
  background-color: white;
  overflow:hidden;
  margin:1px;
  margin-right:4px;
  border:2px dashed #ccc;
  min-height:50px;
  padding:5px;
  font-family:Verdana;
  color:#364daf;
  font-size:13px;
}

#dashed3 { 
  background-color: white;
  overflow:hidden;
  margin:1px;
  border:0px dashed #ccc;
  min-height:100px;
  font-family:Verdana;
}

#dashed3a { 
  background-color: white;
  overflow:hidden;
  margin:1px;
  border:0px dashed #ccc;
  min-height:85px;
  font-family:Verdana;
}

#dashed3b { 
  background-color: white;
  overflow:hidden;
  margin:1px;
  border:0px dashed #ccc;
  min-height:50px;
  font-family:Verdana;
}

#dashed3c { 
  background-color: white;
  overflow:hidden;
  margin:1px;
  border:0px dashed #ccc;
  min-height:100px;
  font-family:Verdana;
}


#dashed4 { 
  width:99%;
  background-color: white;
  float:left;
  margin:1px;
  border:0px dashed #ccc;
  min-height:300px;
  font-family:Verdana;
  font-size:13px;
}

/*
#divPlans { 
  min-width:155px;
  background-color: white;
  float:left;
  margin:1px;
  border:0px dashed #ccc;
  min-height:300px;
  font-family:Verdana;
  font-size:13px;
}
*/


#divPlans { 
  width:97%;
  overflow:hidden;
  background-color: white;
  margin:1px;
  margin-right:4px;
  border:2px dashed #ccc;
  min-height:50px;
  font-family:Verdana;
  color:#364daf;
  font-size:13px;
  padding:5px;
}

#dashed5 { 
  background-color: white;
  overflow:hidden;
  margin:1px;
  margin-top:2px;
  border:2px dashed #ccc;
  min-height:60px;
  font-family:Verdana;
}

#dashed6 { 
  background-color: white;
  overflow:hidden;
  margin:1px;
  margin-top:2px;
  border:2px dashed #ccc;
  min-height:42px;
  font-family:Verdana;
}

#dashedTSP { 
  background-color: white;
  overflow:hidden;
  margin:1px;
  margin-top:2px;
  border:2px dashed #ccc;
  min-height:60px;
  font-family:Verdana;
}

#noborder1 { 
  width:360px;
  background-color: white;
  float:left;
  margin:0px;
  border:0px dashed #ccc;
  min-height:100px;
}

#noborder1 { 
  width:360px;
  background-color: white;
  float:left;
  margin:0px;
  border:0px dashed #ccc;
  min-height:100px;
}

#noborder2 { 
  background-color: white;
  overflow:hidden;
  margin:1px;
  border:0px dashed #ccc;
  min-height:130px;
  font-family:Verdana;
}

#logo {
  float:left; 
  margin-right:60px;
  width:155px;
  min-height:50px;
  border-left:0px solid;
  text-align:center;
  vertical-align:top;
}


#one1 {
  float:left; 
  margin-left:35px;
  margin-right:28px;
  width:150px;
  min-height:10px;
  border-left:0px solid;
  padding-top:5px;
  padding-bottom:1px;
  border-right:0px solid #004eff;
}

#one2 {
  float:left; 
  margin-left:35px;
  margin-right:28px;
  width:150px;
  min-height:10px;
  border-left:0px solid;
  padding-top:5px;
  padding-bottom:1px;
  border-right:0px solid #004eff;
}

#one3 {
  float:left; 
  margin-left:35px;
  margin-right:28px;
  width:150px;
  min-height:10px;
  border-left:0px solid;
  padding-top:5px;
  padding-bottom:5px;
  border-right:0px solid #004eff;
}

#one4 {
  float:left; 
  margin-left:35px;
  margin-right:28px;
  width:150px;
  min-height:10px;
  border-left:0px solid;
  padding-top:5px;
  padding-bottom:5px;
  border-right:0px solid #004eff;
}


#sep1 {
  float:left; 
  margin-left:12px;
  margin-right:2px;
  width:1px;
  min-height:10px;
  border-left:0px solid;
  padding-top:9px;
  padding-bottom:2px;
  border-right:0px solid #004eff;
}

#sep2 {
  float:left; 
  margin-left:12px;
  margin-right:2px;
  width:1px;
  min-height:10px;
  border-left:0px solid;
  padding-top:3px;
  padding-bottom:2px;
  border-right:0px solid #004eff;
}
#sep3 {
  float:left; 
  margin-left:12px;
  margin-right:2px;
  width:1px;
  min-height:20px;
  border-left:0px solid;
  padding-top:9px;
  padding-bottom:5px;
  border-right:0px solid #004eff;
}

#two {
  float:left; 
  margin-right:20px;
  width:200px;
  border-right:0px solid #000;
  border-bottom:1px solid #004eff;
}

#three { 
  overflow:hidden;
  margin:10px;
  border:0px dashed #ccc;
  min-height:50px;
}


#threeright { 
  float:right;
  overflow:hidden;
  margin:10px;
  border:0px dashed #ccc;
  min-height:50px;
}


#four {
  float:left; 
  margin-left:-20px;
  margin-right:1px;
  width:15px;
  min-height:20px;
  border-left:0px solid;
  padding-top:10px;
  padding-bottom:20px;
  border-right:0px solid #004eff;

}


.indexlinks
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
	FONT-WEIGHT: bold;
    FONT-FAMILY: Tahoma, Arial, Verdana,Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}


.indexlinks1
{
    FONT-SIZE: 11px;
    COLOR: #0000ff;
	FONT-WEIGHT: bold;
    FONT-FAMILY: Tahoma, Arial, Verdana,Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}







.yellowUnderline{
    border-bottom: 1px solid #f1c74f;
}


.div50per{
      min-width:49%;
      background-color: white;
      float:left;
      margin:1px;
      border:0px dashed #ccc;
      border-right:1px dashed #ccc;
      min-height:210px;
      font-family:Verdana;
      color:#364daf;
      font-size:12px;
      padding-top:3px;
      text-align:left;
}

.div50perB{
      background-color: white;
      overflow:hidden;
      margin:1px;
      border:0px dashed #ccc;
      min-height:30px;
      font-family:Verdana;
      color:#364daf;
      font-size:12px;
      padding-top:3px;
      text-align:left;
}



@media screen and (max-width: 600px) {
   #one { 
    float: none;
    margin-right:0;
    width:100%;
    border:0;
    border-bottom:0px solid #000;    
  }
}



