<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="5001" />
  </appSettings>
  
	<connectionStrings>
  
  <!--<add name="mysqlcon" connectionString="server=127.0.0.1;user id=root;pwd=admin@123;database=trai_tariffs_live" providerName="MySql.Data.MySqlClient" />-->
    <add name="mysqlcon" connectionString="server=localhost;user id=root;pwd=admin@123;database=trai_tariffs_live" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
	<system.web>
	<pages enableSessionState="true"></pages>
    <!--<httpRuntime maxQueryStringLength="1048576" maxUrlLength="1048576" enable="true" />-->
		<!-- 
            Set compilation debug="true" to insert debugging zz
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<customErrors mode="Off" defaultRedirect="myerror.htm" />
		<compilation debug="true">
      <assemblies><add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" /></assemblies>
    </compilation>
    
    
    
		<!--
    
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="vjslib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        </assemblies>
        
        
        
        
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--<authentication mode="Windows"/> -->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
<httpCookies requireSSL="false" />
<trust level="Full" />
  </system.web>
    <system.webServer>
<httpProtocol>
      <customHeaders>
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="411" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="myerror.htm" responseMode="Redirect" />
      <error statusCode="500" prefixLanguageFilePath="" path="myerror.htm" responseMode="Redirect" />
      <error statusCode="407" prefixLanguageFilePath="" path="myerror.htm" responseMode="Redirect" />
      <error statusCode="411" prefixLanguageFilePath="" path="myerror.htm" responseMode="Redirect" />
    </httpErrors>
   <security>
      <requestFiltering>
	  <requestLimits maxQueryString="32768" />
        <verbs>
          <add verb="TRACK" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="OPTIONS" allowed="false" />
          <add verb="DELETE" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="/consumerview/index.aspx" />
                <add value="iisstart.htm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="" />
        <!--<rewrite>
            <rules>
                <rule name="http to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>
        </rewrite>-->
    </system.webServer>
 <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
